<div class="status-row"><span class="box">[x]</span> <span>🤖 Master in Applied AI @ <a href="https://tec.mx/es">Tec de Monterrey</a></span></div>
<div class="status-row"><span class="box">[x]</span> <span>📊 Statistical Methods Specialist @ <a href="https://www.cimat.mx/">CIMAT</a></span></div>
<div class="status-row"><span class="box">[x]</span> <span>💻 Head of AI @ <a href="https://www.viradoctores.com/">Vira Doctores</a></span></div>
<div class="status-row"><span class="box">[x]</span> <span>🧠 Edge Thinker @ <a href="https://edgehub.edu.mx/">EdgeHub</a></span></div>
